* {
    padding:0;
    margin:0;

}
header {

    background-color:#d0f3e9;
    height:80px;
    width:100%;
    position:relative;
}
h1 {
    color:black;
    position:absolute;
    left:120px;
    top:0;
    line-height:80px;
    background-image:url("D:\design web\img\banner.jpg");
    background-repeat:no-repeat;
    background-position: center;
}
header ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;

}
header li {
    display:inline;
    margin-right:4vw;
}
header a {
    color:rgb(65, 59, 59);
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.ind {
    background-color: antiquewhite;
    color:white;
    height:85vh;
    background-image: url("./img/banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.ind h2 {
    font-size: 60px;
}
.ind p {
    color:#d39d1f;
    font-size: 18px;
    margin:25px 0;
}
.ind a {
    color:white;
    text-decoration: none;
    border:1px soild #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}
.slogan {
    background-color:#d0f3e9;
    color:rgb(0, 0, 0);
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;
}
footer {
    background-color:black;
    color: #B7B7B7;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}